:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: blueviolet;
}

h1{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

p{
  text-align: center;
}

hr{
  margin-left: auto;
  margin-right: auto;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block; 
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
}

.product-card img {
  width: 100%;
  height: 150px;  
  object-fit: contain;
  margin-bottom: 12px;
}

.product-card h3 {
  font-size: 1rem;
  margin-bottom: 1px;
}

.product-card p {
  font-size: 0.6rem;
  margin: 4px 0;
}

.price p{
  font-weight: bold;
  color: rgb(187, 15, 15);
  font-size: 0.86rem;
}

.rating p{
  font-size: 0.75rem;
  font-weight: bold;
}

.searchbar {
  width: 50%;
  padding: 8px;
  margin: 16px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
